.folha,
.folha * {
  box-sizing: border-box;
}
.folha {
  width: 793.7px;
  height: 1080px;
  position: relative;
  overflow: hidden;
}
.page {
  background: #efefef;
  width: 793.7px;
  height: 1080px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.content-card-itens {
  position: absolute;
  inset: 0;
}
.rectangle-8 {
  background: #d9d9d9;
  width: 726px;
  height: 220px;
  position: absolute;
  left: 34px;
  top: 364px;
}
.rectangle-7 {
  width: 359.48px;
  height: 214px;
  position: absolute;
  left: 397px;
  top: 367px;
  overflow: visible;
}
.readme-md {
  color: #000000;
  text-align: left;
  font: 700 11.44px "SplineSansMono-Bold", sans-serif;
  position: absolute;
  left: 411.1px;
  top: 374px;
  width: 331.28px;
  height: 199px;
}
.image-project-box {
  border-style: solid;
  border-color: #000000;
  border-width: 0.57px;
  position: absolute;
  right: 49.98%;
  left: 4.73%;
  width: 45.29%;
  bottom: 46.2%;
  top: 33.98%;
  height: 19.81%;
}
.rectangle-82 {
  background: #d9d9d9;
  width: 726px;
  height: 220px;
  position: absolute;
  left: 34px;
  top: 587px;
}
.rectangle-72 {
  width: 359.48px;
  height: 214px;
  position: absolute;
  left: 397px;
  top: 590px;
  overflow: visible;
}
.readme-md2 {
  color: #000000;
  text-align: left;
  font: 700 11.44px "SplineSansMono-Bold", sans-serif;
  position: absolute;
  left: 411.1px;
  top: 597px;
  width: 331.28px;
  height: 199px;
}
.image-project-box2 {
  border-style: solid;
  border-color: #000000;
  border-width: 0.57px;
  position: absolute;
  right: 49.98%;
  left: 4.73%;
  width: 45.29%;
  bottom: 25.56%;
  top: 54.63%;
  height: 19.81%;
}
.projects-filter {
  position: absolute;
  inset: 0;
}
.rectangle-10 {
  background: #999191;
  border-radius: 5px;
  width: 747px;
  height: 33px;
  position: absolute;
  left: 23px;
  top: 321px;
}
.back-end {
  color: #000000;
  text-align: center;
  font: 700 16px "SplineSansMono-Bold", sans-serif;
  position: absolute;
  left: 49.07px;
  top: 328px;
  width: 87.23px;
}
.back-end2 {
  color: #000000;
  text-align: center;
  font: 700 16px "SplineSansMono-Bold", sans-serif;
  position: absolute;
  left: 210.5px;
  top: 328px;
  width: 87.23px;
}
.back-end3 {
  color: #000000;
  text-align: center;
  font: 700 16px "SplineSansMono-Bold", sans-serif;
  position: absolute;
  left: 362.91px;
  top: 328px;
  width: 96.26px;
}
.back-end4 {
  color: #000000;
  text-align: center;
  font: 700 16px "SplineSansMono-Bold", sans-serif;
  position: absolute;
  left: 526.35px;
  top: 328px;
  width: 96.26px;
}
.back-end5 {
  color: #000000;
  text-align: center;
  font: 700 16px "SplineSansMono-Bold", sans-serif;
  position: absolute;
  left: 688.78px;
  top: 328px;
  width: 58.16px;
}
.sobre {
  position: absolute;
  inset: 0;
}
.sobre2 {
  color: #000000;
  text-align: left;
  font: 700 16px "SplineSansMono-Bold", sans-serif;
  position: absolute;
  left: 272px;
  top: 96px;
  width: 74.01px;
  height: 28.71px;
}
.morei-at-meus-23-anos-no-estado-mais-ao-norte-do-brasil-quando-era-mais-jovem-iniciei-uma-gradua-o-porque-era-bom-em-matem-tica-no-terceiro-ano-da-faculdade-paguei-disciplina-de-algor-timos-foi-a-nica-prova-que-gostei-do-elogio-de-ter-tirado-dez-na-pandemia-usei-o-tempo-livre-para-estudar-algo-que-era-massante-nos-conte-dos-de-faculdade-mas-que-consegui-fazer-com-empolga-o-aprendendo-python-com-o-professor-guanabara-no-you-tube-e-com-o-livro-do-eric-matthes-no-quarto-ano-de-engenharia-civil-eu-tomei-a-decis-o-de-ingressar-de-vez-no-mundo-da-tecnologia-n-o-iniciei-os-estudos-de-programa-o-em-uma-faculdade-mas-comecei-dentro-de-um-ambiente-com-um-comprometimento-e-aten-o-em-ensinar-que-testemunhei-durante-um-ano-e-meio-dentro-da-trybe-onde-pude-aprender-primeiro-todas-essas-stacks-de-tecnologia-que-est-o-a-baixo {
  color: #000000;
  text-align: left;
  font: 700 10px "SplineSansMono-Bold", sans-serif;
  position: absolute;
  left: 275px;
  top: 125px;
  width: 495px;
  height: 181px;
}
.foto {
  background: #d9d9d9;
  width: 236px;
  height: 210px;
  position: absolute;
  left: 29px;
  top: 96px;
}
.contatos {
  position: absolute;
  inset: 0;
}
.rectangle-102 {
  background: #999191;
  border-radius: 5px;
  width: 747px;
  height: 33px;
  position: absolute;
  left: 23px;
  top: 48px;
}
.github {
  color: #000000;
  text-align: center;
  font: 700 16px "SplineSansMono-Bold", sans-serif;
  position: absolute;
  left: 26.01px;
  top: 51px;
  width: 158.42px;
  height: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gmail {
  color: #000000;
  text-align: center;
  font: 700 16px "SplineSansMono-Bold", sans-serif;
  position: absolute;
  left: 317.79px;
  top: 51px;
  width: 157.42px;
  height: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.linkedin {
  color: #000000;
  text-align: center;
  font: 700 16px "SplineSansMono-Bold", sans-serif;
  position: absolute;
  left: 593.53px;
  top: 51px;
  width: 173.46px;
  height: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header {
  position: absolute;
  inset: 0;
}
.header2 {
  background: #d9d9d9;
  width: 753px;
  height: 33px;
  position: absolute;
  left: 20px;
  top: 0px;
}
.projects {
  color: #000000;
  text-align: left;
  font: 700 16px "SplineSansMono-Bold", sans-serif;
  position: absolute;
  left: 36px;
  top: 7px;
  width: 87px;
}
.margens {
  height: auto;
  position: absolute;
  left: -1px;
  top: 0px;
  overflow: visible;
}
